/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.navbar-brand .title {
  color: white;
}

.navbar-end {
  padding: 5px;
}

// round images
.image {
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

$button-color: #f76957;
$button-hover-color: #f76957;
$button-active-color: #f76957;
$button-text-color: #f76957;
$button-hover-text-color: white;
$button-active-text-color: white;
$button-border-color: #f76957;
$button-hover-border-color: #f76957;
$button-active-border-color: #f76957;
$button-focus-border-color: #f76957;
$button-focus-text-color: white;
$button-focus-background-color: #f76957;
$button-focus-box-shadow: 0 0 0 0.125em rgba(247, 105, 87, 0.25);

.button.is-save {
  background-color: transparent;
  font-weight: bold;
  color: $button-text-color;
  border: 2px solid $button-border-color;

  &:hover {
    background-color: $button-hover-color;
    color: $button-hover-text-color;
    border-color: $button-hover-border-color;
  }

  &:active {
    background-color: $button-active-color;
    color: $button-active-text-color;
    border-color: $button-active-border-color;
  }

  &:focus {
    border-color: $button-focus-border-color;
    color: $button-focus-text-color;
    background-color: $button-focus-background-color;
    box-shadow: $button-focus-box-shadow;
  }
}

$table-row-hover-background-color: #983636;
$table-cell-text-align: center;
$table-head-background-color: #626262;

.table {
  text-align: $table-cell-text-align;

  .thead {
    tr {
      th {
        background-color: $table-head-background-color;
        color: whitesmoke;
        text-align: $table-cell-text-align;
      }
    }
  }
}
